body{
    background-color: #0a192f;
    color:#8892b0;
}


}
.container pranith-myheader{
    text-align: center;
}
.profile-pic{
    border-radius: 50%
}
#aboutme{
    background-color: #34ebeb;
    text-align: center;
}
.item{
    text-align: center;
}
#projects{
    background-color: #34ebeb;
}
.item1{
    background-color: red;
    height: 500px
}
.item2{
    background-color: blue;
    height: 500px
}
